.tooltip {
  position: relative;
}

.tooltip:hover {
  cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #d4d5d6;
  color: black;
  text-align: center;
  font-size: 18px;
  position: absolute;
  border-radius: 5px;
  padding: 2px 0;
  bottom: 150%;
  left: 50%;
  margin-left: -50px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #d4d5d6 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
