.container {
  display: flex;
  user-select: none;
}

.shift img {
  height: 100%;
}

.shift {
  background-color: #06b100;
  border-radius: 2px;
  width: 20%;
}

.shift:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.darken {
  font-size: 12px;
  filter: brightness(50%);
}

.highlight {
  color: white;
  font-size: 20px;
}
