.App {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 100%;
}

.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  color: white;
  background-color: #14161a;
  height: 60px;
}

.left {
  display: flex;
  background-color: #23272e;
  width: 60%;
  padding: 10px;
}

.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #171a1f;
  width: 40%;
}

.squad-builder-container {
  width: 100%;
}

.svg-container {
  width: 600px;
  padding: 10px;
}

.svg-field {
  filter: drop-shadow(1px 1px 5px #758ab4);
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-main {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
}

.dropdown-selection {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  user-select: none;
}

.dropdown-btn {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60px;
  background-color: #171a1f;
  user-select: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-btn:active {
  background-color: #14161a;
}

.dropdown-contents {
  margin-top: 5px;
  background-color: white;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 18px;
  list-style-type: none;
}

.dropdown-item {
  padding-inline: 10px;
  padding-block: 5px;
  user-select: none;
}

.dropdown-item:hover {
  background-color: rgb(216, 216, 216);
}

.page-title {
  font-size: 30px;
}

.auth {
  font-size: 20px;
}

.row-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: #14161a;
  color: white;
}
