.node {
  fill: rgb(10, 49, 10);
  stroke: rgb(0, 0, 0);
  stroke-width: 8px;
  cursor: grab;
}

.node:active {
  cursor: grabbing;
}

.number {
  fill: white;
  font-size: 100px;
  user-select: none;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}

.name {
  fill: white;
  font-size: 38px;
  user-select: none;
  pointer-events: none;
  text-anchor: middle;
  dominant-baseline: middle;
}
