.table-container {
  width: 100%;
}

.table-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  font-weight: bold;
  min-height: 40px;
  background-color: #14161a;
  box-sizing: border-box;
  padding: 4px 10px;
  color: white;
}

.table-header-right {
  display: flex;
  gap: 10px;
}

.table-header-right-item {
}

table {
  border-collapse: collapse;
  /* table-layout: fixed; */
  width: 100%;
  text-align: left;
  /* word-break: break-all; */
}

thead {
  background-color: #14161a;
  width: 100%;
  color: white;
}

th {
  padding: 4px 10px;
  font-size: 18px;
  user-select: none;
}

td {
  color: white;
  padding: 8px 10px;
  font-size: 16px;
}

tbody tr:nth-child(odd) {
  background-color: #23272e;

  padding-block: 8px;
}

tbody tr:nth-child(even) {
  background-color: #171a1f;

  padding-block: 8px;
}

@media screen and (max-width: 640px) {
  table tr {
    display: block;
    padding-block: 0;
  }

  thead {
    display: none;
  }

  table tr:nth-child(odd) {
    filter: brightness(50%);
  }

  table tbody td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: 0;
    line-height: 1.4;
    border: 1px solid;
  }

  table td::before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    width: 30%;
  }
}
