.table-container {
  width: 100%;
}

.table-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  font-weight: bold;
  min-height: 40px;
  background-color: #14161a;
  box-sizing: border-box;
  padding: 4px 10px;
  color: white;
}

.table-header-right {
  display: flex;
  gap: 10px;
}

table {
  border-collapse: collapse;
  /* table-layout: fixed; */
  width: 100%;
  text-align: left;
  /* word-break: break-all; */
}

thead {
  background-color: #14161a;
  width: 100%;
  color: white;
}

th {
  padding: 4px 10px;
  font-size: 18px;
  user-select: none;
}

td {
  color: white;
  padding: 8px 10px;
  font-size: 16px;
}

tbody tr {
  padding-block: 8px;
  cursor: default;
}

tbody tr:nth-child(odd) {
  background-color: #23272e;
}

tbody tr:nth-child(even) {
  background-color: #171a1f;
}

tbody tr:hover {
  background-color: rgb(60, 72, 182);
}

@media screen and (max-width: 680px) {
  table tr {
    display: block;
    padding-block: 0;
  }

  thead {
    display: none;
  }

  table tr {
    border-top: 4px solid rgb(94, 123, 146);
  }

  table tbody td {
    display: block;
    padding-block: 1px;
    line-height: 1.4;
  }

  table tbody td::before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    width: 30%;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 100px;
  }
}

.row-actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.trash-icon {
  fill: rgb(206, 54, 54);
}
