.container {
  width: 100%;
  background-color: #14161a;
  border-bottom: 2px solid #23272e;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

.header {
  display: flex;
  gap: 10px;
  min-height: 50px;
  box-sizing: border-box;
  padding: 0 10px;
}

.arrow {
  display: flex;
  user-select: none;
}

.focal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.focal div {
  display: flex;
  color: white;
  user-select: none;
  font-size: 22px;
  font-weight: bold;
  gap: 10px;
}

.dropdown-btn:active {
  transform: scale(0.95);
}

.content {
  background-color: inherit;
  width: 100%;
  border-bottom: 2px solid #23272e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  box-sizing: border-box;
}

.content ul {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 18px;
  list-style-type: none;
}

.content li {
  padding-inline: 10px;
  padding-block: 5px;
  user-select: none;
}

.content li:hover {
  /* background-color: rgb(216, 216, 216); */
  color: rgb(25, 107, 5);
  filter: brightness(200%);
  cursor: pointer;
}
