.container {
  width: 100%;
  background-color: #14161a;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

.container::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border: 1px solid #2e323a;
  border-radius: 4px;
  pointer-events: none;
}

.container:hover::before {
  filter: brightness(200%);
  transition-duration: 400ms;
}

.header {
  display: flex;
  gap: 10px;
  min-height: 50px;
  box-sizing: border-box;
  padding: 0 10px;
}

.arrow {
  display: flex;
  user-select: none;
}

.focal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.focal div {
  display: flex;
  color: white;
  user-select: none;
  font-size: 22px;
  font-weight: bold;
  gap: 10px;
}

.dropdown-btn:active {
  transform: scale(0.95);
}

.content {
  background-color: inherit;
  width: 100%;
  border: 1px solid #2e323a;
  border-radius: 4px;
  position: absolute;
  margin-top: 2px;
  box-sizing: border-box;
}

.content ul {
  padding-inline: 0;
  padding-block: 10px;
  margin: 0;
  color: white;
  font-size: 18px;
  list-style-type: none;
}

.content li {
  padding-inline: 10px;
  padding-block: 5px;
  user-select: none;
}

.content li:hover {
  background-color: #2e323a;
  /* color: rgb(25, 107, 5); */
  /* filter: brightness(200%); */
  cursor: pointer;
}
