.player-data-name {
  display: flex;
  flex-direction: column;
  flex: 1 0 200px;
}

.player-data-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.split-2 {
  display: block;
}

.split-3 {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.split-3-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 1;
  width: 100%;
  gap: 30px;
}

.horizontal-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.horizontal-select .shift img {
  display: flex;
  max-width: 100%;
}

.horizontal-select .shift {
  background-color: #06b100;
  border-radius: 2px;
  width: 20%;
}

.horizontal-select .shift:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.horizontal-select .not-selected {
  font-size: 12px;
  filter: brightness(50%);
}

.input-header {
  display: flex;
  justify-content: space-between;
}
