.player-data-form {
  padding: 10px;
  color: wheat;
}

.player-data-name {
  display: flex;
  flex-direction: column;
  flex: 1 0 200px;
}

.split-2 {
  display: flex;
  flex-wrap: wrap;
}

.split-3 {
  display: flex;
  justify-content: space-between;
}

.split-3-data {
  display: flex;
  flex-direction: column;
  flex: 1 0 1;
  max-width: 100px;
  width: 100%;
}

.horizontal-select-container {
}

.horizontal-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.horizontal-select .shift img {
  display: flex;
  max-width: 100%;
}

.horizontal-select .shift {
  background-color: #06b100;
  border-radius: 2px;
  width: 20%;
}

.horizontal-select .shift:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.horizontal-select .shift:active {
  /* border-color: rgba(255, 255, 255, 0.3); */
}

.horizontal-select .not-selected {
  font-size: 12px;
  filter: brightness(50%);
}

.horizontal-select .selected {
}

.slider-header {
  display: flex;
  justify-content: space-between;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #545a5f;
  border-radius: 4px;
  height: 8px;
}

input[type="range"]::-moz-range-track {
  background-color: #545a5f;
  border-radius: 4px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #06b100;
  height: 20px;
  margin-top: -6px;
  width: 10px;
  border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #06b100;
  border: none;
  border-radius: 2px;
  height: 20px;
  width: 10px;
}
