::backdrop {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  opacity: 0.5;
}

.modal {
  background-color: #ffffff;
  border: none;
  width: 380px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 2px;
  color: white;
  margin-bottom: 4px;
}

.header-negative {
  background-color: rgb(206, 54, 54);
}

.modal-header img {
  padding-right: 4px;
}

.header-positive {
  background-color: rgb(60, 72, 182);
}

.modal-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4px;
}
.modal-btn {
  background-color: rgb(60, 72, 182);
  border: 2px solid transparent;
  border-radius: 2px;
  color: white;
  user-select: none;
  width: 100px;
  height: 30px;
  margin-inline: 8px;
}

.modal-btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.modal-btn:active {
  border-color: rgba(255, 255, 255, 0.3);
}

.btn-close {
  background-color: #434343;
}

input {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
