::backdrop {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  opacity: 0.5;
}

.modal {
  background-color: #ffffff;
  border: none;
  width: 480px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 4px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 2px;
  color: white;
}

.header-negative {
  background-color: rgb(206, 54, 54);
}

.modal-header img {
  padding-right: 4px;
}

.header-positive {
  background-color: rgb(60, 72, 182);
}
