::backdrop {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  opacity: 0.6;
}

.modal {
  background-color: #ffffff;
  border: 0;
  width: 420px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
}

.container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid white;
  background-color: #23272e;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 6px;
  margin-bottom: 4px;
  margin-inline: -10px;
  margin-top: -10px;
  gap: 10px;
}

.header img {
  padding-right: 4px;
}

.negative {
  background-color: rgb(206, 54, 54);
}

.positive {
  background-color: rgb(60, 72, 182);
}

.neutral {
  background-color: rgb(90, 90, 90);
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4px;
}

.btn {
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  user-select: none;
  width: 100px;
  height: 40px;
  margin-inline: 8px;
}

.btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.btn:active {
  border-color: rgba(255, 255, 255, 0.3);
}

.btn:disabled {
  background-color: #434343;
}

.btn-close {
  background-color: #434343;
}

.modal input {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 4px 2px 4px 2px;
}

input[type="number"] {
  background-color: rgb(240 240, 240);
  border: 0;
  border-bottom: 2px solid rgb(20, 22, 26);
  border-radius: 4px;
  outline: 0;
}

/* input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} */

input[type="text"] {
  background-color: rgb(240, 240, 240);
  border: 0;
  border-bottom: 2px solid rgb(20, 22, 26);
  border-radius: 4px;
  outline: 0;
  margin-bottom: 8px;
}

input[type="text"]::-moz-placeholder {
  font-style: italic;
}

input[type="text"]::-webkit-input-placeholder {
  font-style: italic;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #545a5f;
  border-radius: 4px;
  height: 8px;
}

input[type="range"]::-moz-range-track {
  background-color: #545a5f;
  border-radius: 4px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #06b100;
  height: 20px;
  margin-top: -6px;
  width: 10px;
  border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #06b100;
  border: none;
  border-radius: 2px;
  height: 20px;
  width: 10px;
}
